@model DoAnCuoiKiHQT.Models.HangGiay

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HangGiay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.MaHang  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
