@model DoAnCuoiKiHQT.Models.Kho

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaGiay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGiay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.MaGiay  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
