@model IEnumerable<DoAnCuoiKiHQT.Models.ViewKho>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaGiay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaGiay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaGiay }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaGiay }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaGiay })
        </td>
    </tr>
}

</table>
